.container{
 margin: var(--padding);
 background:var(--sky);
  border: 5px double ;
  outline: 10px solid var(--sky);
  padding:60px 30px ;
  text-align: center;
   & a{
   float: right;
   background:var(--grey);
   text-decoration: none;
   padding: 10px;
   overflow: hidden;
   box-shadow: .6em .6em 0 0 #000;
   transition: 0.05s;
   &:hover{
     background: #555555;
     box-shadow: .0em .0em 0 0 #000;
   }
   }
}
.grid{
  display: grid;
   grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  font-size: 13px;
  line-height:20px ;
  justify-content: center;

}
.gridcontainer{
padding: 0 100px;
 text-align:left; 
 & dt::before {
  content: "//";
  font-weight:900;
}
& dt::after {
  content: "//";
  font-weight:900;
}
& dl{
  line-height: 19px;
}
}

