.container{
 margin: var(--padding);
 background:var(--sky);
  border: 5px double ;
  outline: 10px solid var(--sky);
  padding: 10px;
  text-align: center;
}
.grid{
  display: grid;
   grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  font-size: 13px;
  line-height:20px ;
  justify-content: center;

}
.gridcontainer{
padding: 0 100px;
 text-align:left; 
 & dt::before {
  content: "//";
  font-weight:900;
}
& dt::after {
  content: "//";
  font-weight:900;
}
& dl{
  line-height: 19px;
}
}

