.ContainerPortfolio{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.itemPortfolio{
    display: grid;
    grid-template-rows:auto auto;
    grid-template-rows: 80px 200px;
    background: #f0f;
    &:hover{
        background: #000;
        grid-template-rows: 200px 80px;
    }
}