/* @import url(//db.onlinewebfonts.com/c/cd2242816d23dad4250f5ea159c7675c?family=Smallest+Pixel-7); */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root{
  --bleu:#000084;
  --purple:#8E17D3;
  --sky:#00aaaa;
  --yellow : #fefe54;
   --grey : #bbbbbb ;
   --orange: #aa5500;
    --padding: 0px 10%;
}



*{
  /* font-family: "Smallest Pixel-7"; */
  
  font-family: "Press Start 2P", monospace;
  color: #fff;
}
body {
 background:var(--bleu);
margin: 0px;
overflow-x: hidden;
}
